*{
    margin:0px;
    padding: 0px;
}
body{
    background-color: hsl(212, 46%, 93%);
}
.notification-bx{
    width: 650px;
    height: 840px;
    background-color: white;
    position: relative;
    top: 40px;
    left: 370px;
    border-radius: 20px;
}
div > h2{
    font-family: "Plus Jakarta Sans" ;
    position: relative;
    top: 30px;
    left: 25px;
}
.nmbr{
    position: relative;
    top: 7px;
    left: 190px;
    background-color: hsl(224, 21%, 14%);
    color: white;
    width: 27px;
    height: 20px;
    font-family: "Plus Jakarta Sans";
    text-align: center;
    padding-top: 1px;
    padding-bottom:1.5px;
    border-radius: 5px;
}
.text-top{
    position: relative;
    top: -15px;
    left: 510px;
    font-family: "Plus Jakarta Sans";
    color: hsl(219, 12%, 42%);
}
.text-top:hover{
    cursor: pointer;
    color:hsl(219, 85%, 26%);
}
.ntfctn1{
    height:70px;
    width:600px;
    background-color: hsl(211, 68%, 94%);
    position: relative;
    top: 0px;
    left: 25px;
    border-radius:10px;
}
.img1{
    height: 50px;
    width: 50px;
    position: relative;
    top: 10px;
    left: 15px;
}
.tx1{
    position: relative;
    top: -35px;
    left: 85px;
    font-family: "Plus Jakarta Sans";
    font-size: 13px;
    color: hsl(219, 14%, 63%);
}
a{
    text-decoration: none;
    font-weight: 600;
    color:black;
    font-family: "Plus Jakarta Sans";
}
.nme1{
    position: relative;
    left: -5px;
}
.event1{
    position: relative;
    top: -51px;
    left: 342px;
    font-size: 13px;
    color: hsl(219, 12%, 42%);
}
.dot{
    height: 10px;
    width: 10px;
    background-color: orangered;
    border-radius:100%;
    border:0px;
    position: relative;
    top: -64px;
    left: 515px;
}
.dte{
    position: relative;
    top: -60px;
    left: 80px;
    font-family: "Plus Jakarta Sans";
    font-size: 13px;
}
.ntfctn2{
    height:70px;
    width:600px;
    background-color: hsl(211, 68%, 94%);
    position: relative;
    top: 10px;
    left: 25px;
    border-radius:10px;
}
.img2{
    height: 50px;
    width: 50px;
    position: relative;
    top: 10px;
    left: 15px;
}
.tx2{
    position: relative;
    top: -35px;
    left: 85px;
    font-family: "Plus Jakarta Sans";
    font-size: 13px;
    color: hsl(219, 14%, 63%);
}
.nme2{
    position: relative;
    left: -5px;
}
.dte2{
    position: relative;
    top: -41px;
    left: 80px;
    font-family: "Plus Jakarta Sans";
    font-size: 13px;
}
.dot2{
    height: 10px;
    width: 10px;
    background-color: orangered;
    border-radius:100%;
    border:0px;
    position: relative;
    top: -47px;
    left: 249px;
}
.ntfctn3{
    height:70px;
    width:600px;
    background-color: hsl(211, 68%, 94%);
    position: relative;
    top: 20px;
    left: 25px;
    border-radius:10px;
}
.img3{
    height: 50px;
    width: 50px;
    position: relative;
    top: 10px;
    left: 15px;
}
.tx3{
    position: relative;
    top: -35px;
    left: 85px;
    font-family: "Plus Jakarta Sans";
    font-size: 13px;
    color: hsl(219, 14%, 63%);
}
.nme3{
    position: relative;
    left: -5px;
}
.dte3{
    position: relative;
    top: -57px;
    left: 80px;
    font-family: "Plus Jakarta Sans";
    font-size: 13px;
}
.event3{
    position: relative;
    top: -51px;
    left: 328px;
    font-size: 13px;
    color: hsl(219, 12%, 42%);
}
.dot3{
    height: 10px;
    width: 10px;
    background-color: orangered;
    border-radius:100%;
    border:0px;
    position: relative;
    top: -64px;
    left: 405px;
}
.img4{
    height: 50px;
    width: 50px;
    position: relative;
    top: 40px;
    left: 40px;
}
.tx4{
    position: relative;
    top: -5px;
    left: 110px;
    font-family: "Plus Jakarta Sans";
    font-size: 13px;
    color: hsl(219, 14%, 63%);
}
.nme4{
    position: relative;
    left: -5px;
}
.dte4{
    position: relative;
    top: 1px;
    left: 105px;
    font-family: "Plus Jakarta Sans";
    font-size: 13px;
}
/*.ntfctn4{
    height:80px;
    width:505px;
    background-color: hsl(205, 33%, 90%);
    position: relative;
    top: 10px;
    left: 100px;
    border-radius: 5px;
}*/
.p-msg{
    position: relative;
    top: 15px;
    left: 20px;
    font-family: "Plus Jakarta Sans";
    font-size: 13px;
    margin-right: 70px;
}
.ntfctn4{
    border: solid 1px hsl(219, 14%, 63%);
    border-radius: 5px;
    height:80px;
    width: 490px;
    position: relative;
    top: 10px;
    left: 100px;
}
.ntfctn4:hover{
    height:80px;
    width:490px;
    background-color: hsl(205, 33%, 90%);
    position: relative;
    top: 10px;
    left: 100px;
    border-radius: 5px;
    cursor: pointer;
}
.img5{
    height: 50px;
    width: 50px;
    position: relative;
    top: 50px;
    left: 40px;
}
.tx5{
    position: relative;
    top: 5px;
    left: 110px;
    font-family: "Plus Jakarta Sans";
    font-size: 13px;
    color: hsl(219, 14%, 63%);
}
.nme5{
    position: relative;
    left: -5px;
}
.dte5{
    position: relative;
    top: -44px;
    left: 105px;
    font-family: "Plus Jakarta Sans";
    font-size: 13px;
}
.img8{
    height: 50px;
    width: 50px;
    position: relative;
    top: -21px;
    left: 540px;
}
.img6{
    height: 50px;
    width: 50px;
    position: relative;
    top: 10px;
    left: 40px;
}
.tx6{
    position: relative;
    top: -35px;
    left: 110px;
    font-family: "Plus Jakarta Sans";
    font-size: 13px;
    color: hsl(219, 14%, 63%);
}
.nme6{
    position: relative;
    left: -5px;
}
.dte6{
    position: relative;
    top: -49px;
    left: 105px;
    font-family: "Plus Jakarta Sans";
    font-size: 13px;
}
.event4{
    position: relative;
    top: -52px;
    left: 387px;
    font-size: 13px;
    color: hsl(219, 12%, 42%);
}
.evnt4{
    position: relative;
    left: -282px;
}
.img7{
    height: 50px;
    width: 50px;
    position: relative;
    top: 0px;
    left: 40px;
}
.tx7{
    position: relative;
    top: -47px;
    left: 110px;
    font-family: "Plus Jakarta Sans";
    font-size: 13px;
    color: hsl(219, 14%, 63%);
}
.nme7{
    position: relative;
    left: -5px;
}
.dte7{
    position: relative;
    top: -61px;
    left: 105px;
    font-family: "Plus Jakarta Sans";
    font-size: 13px;
}
.event5{
    position: relative;
    top: -63px;
    left: 257px;
    font-size: 13px;
    color: hsl(219, 12%, 42%);
}
.nme1:hover,
.nme2:hover,
.nme3:hover,
.nme4:hover,
.nme5:hover,
.nme6:hover,
.nme7:hover,
.event1:hover,
.event3:hover,
.event4:hover,
.event5:hover{
    color:hsl(219, 85%, 26%);
    cursor: pointer;
}


@media screen and (max-width:420px){
    html,body{
        overflow-x: hidden;
        background-color: white;
    }
    .notification-bx{
        position: relative;
        top: 0vw;
        left: -2vw;
        height: 100%;
        width: 100%;
    }
    .ntfctn1,
    .ntfctn2,
    .ntfctn3,
    .ntfctn4,
    .ntfctn5,
    .ntfctn6,
    .ntfctn7{
        width:90vw;
    }
    .tx1{
        margin-right: 30vw;
        top:-11.5vw;
    }
    .event1{
        position: relative;
        left: 32vw;
        top: -16vw;
    }
    .dte{
        position: relative;
        top: -19vw;
        left: 23vw;
    }
    .dot{
        position: relative;
        top: -20vw;
        left: 78vw;
        z-index: 1;
    }
    .tx2{
        position: relative;
        top: -11.5vw;
    }
    .dte2{
        position: relative;
        top: -13vw;
        left: 21vw;
        z-index: 1;
    }
    .dot2{
        top: -15vw;
    }
    .tx3{
        position: relative;
        top: -11.5vw;
        margin-right: 30vw;
    }
    .event3{
        position: relative;
        top: -15.9vw;
        left: 34vw;
        color:hsl(219, 85%, 26%);
    }
    .dot3{
        position: relative;
        top: -20vw;
        left: 55vw;
        z-index: 1;
    }
    .dte3{
        top: -19vw;
        left: 22.7vw;
    }
    .tx4{
        margin-right: 30vw;        
    }
    .dte4{
        position: relative;
        top: -1vw;
        left: 29vw;
    }
    .ntfctn4{
        position: relative;
        left:29vw;
        width: 65vw;
        height: 30vw;
    }
    .event4{
        left: 38vw;
        top: -16vw;
    }
    .evnt4{
        top: 0vw;
        left: -8.7vw;
    }
    .p-msg{
        margin-right: 8vw;
        left: 3vw;
        top:3vw;
    }
    .tx5{
        margin-right: 40vw;
        top: -1vw;
    }
    .dte5{
        top: -13.7vw;
        left:29.5vw;
    }
    .event5{
        top: -18vw;
        color:hsl(219, 85%, 26%);
    }
    .img8{
        top: -10vw;
        left:82vw;
        height: 11vw;
        width: 11vw;
    }
    .tx6{
        top:-11.7vw;
        margin-right: 20vw;
    }
    .dte6{
        top: -15.6vw;
        left:29.5vw;
    }
    .tx7{
        top: -13.6vw;
    }
    
    .dte7{
        top: -17vw;
    }
    .nmbr{
        top: 1vw;
        left: 40vw;
    }
    .text-top{
        top: -4vw;
        left: 65vw;
    }
    h2{
        font-size: 5vw;
    }
}


